@import 'variables';
@import 'common';
@import 'mixins';

.anticon {
  font-size: 16px;
}

.home {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 50vh;
  margin: auto;
  margin-top: 5rem;
  justify-items: center;
  align-items: center;
  img {
    width: 45vw;
  }
  .ant-input-search {
    display: block;
    margin: auto;
    max-width: 60vw;
    input:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  text-align: left;
  .title {
    @extend .title;
  }
  .ant-typography {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  h1.ant-typography {
    font-weight: 500 !important;
  }
  .mention {
    @include animate-underline($less-purple, 1rem);
  }
  .electron {
    display: flex;
    margin: 2rem 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 10rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
  }
  .icons {
    margin: 2rem;
    margin-top: 0rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    div {
      svg {
        font-size: 2rem;
      }
      .ant-typography {
        margin-top: 10px;
        @include animate-underline(black, 1rem);
      }
    }
  }
}

.terms {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  text-align: left;
  .title {
    @extend .title;
  }
  .ant-typography {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  h1.ant-typography {
    font-weight: 500 !important;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  text-align: left;
  .title {
    @extend .title;
    font-weight: 500 !important;
  }
  .ant-table {
    table {
      border: none !important;
      .ant-table-thead {
        display: none !important;
      }
      &:hover {
        background-color: #fff !important;
      }
      tbody {
        tr:hover {
          cursor: pointer;
          // Hover background does'nt seem to affect background 🤔
        }
        td {
          // &:first-child {
          //   padding-left: 0;
          // }
          border: none !important;
          max-width: 25vw !important;
          min-width: 25vw !important;
          word-wrap: break-word;
        }
      }
    }
  }
}

.query {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  .container {
    height: 80vh;

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;
    overflow: hidden;

    .audio-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-width: 36vw;
      height: 50vh;
      overflow: hidden;
      .avatar {
        .ant-avatar,
        img {
          width: 10rem;
          height: 10rem;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
      }
      .info {
        margin-top: 3rem;
        width: 78%;
        align-self: flex-end;
        text-align: left;
        .ant-typography {
          font-size: 1rem;
        }
        .track-url {
          @include animate-underline(rgba(0, 0, 0, 0.65), auto);
        }
      }
    }
    .results {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      overflow: auto;
      min-width: 60vw;
      &::-webkit-scrollbar {
        width: 5px;
        box-sizing: border-box;
      }
      .heading {
        text-align: left !important;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .ant-table {
        margin-right: 1rem;
      }
      .video-actions {
        display: flex;
        flex-direction: row;
        .ant-btn {
          margin-right: 1rem;
          margin-left: 1rem;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

// .download-queue {
//   position: absolute;
//   right: 120px;
// }

.dropdown-queue-menu {
  width: 360px !important;
  .download-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .ant-avatar {
      margin-right: 1rem;
    }
    .ant-typography {
      margin-right: 1rem;
      align-self: flex-start;
    }
    .ant-btn {
      margin-left: 1rem;
    }
  }
}
