/*
  Global CSS
  Styles defined here will be applied throughout the app
*/

/* Ant Design 🎉 */
@import '~antd/dist/antd.css';

@import './theme/app.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
  user-select: none;
  cursor: default;
}

::-webkit-scrollbar {
  width: 8px;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
